---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404: Not found">
    <main class="w-full h-full m-auto flex flex-col gap-4 justify-center items-center">
        <h1>404: Not all those who wander are lost</h1>
        <h2 class="text-oxford-300">..but I sure am.</h2>
        <a href="/" class="text-timberwolf hover:text-timberwolf active:text-oxford-300">← Back</a>
    </main>
</Layout>