<div class="flex flex-row items-center gap-4">
    <svg class="fill-timberwolf w-16 h-16" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 200 200">
        <path d="M0 0h200v200H0z" style="fill:none"/>
        <path d="M82.919 86.319 62.656 57.71l28.609 20.263 5.901-59.816 5.901 59.816 12.869-4.523-4.523 12.869 76.858 5.901-76.858 5.902 41.25 49.596-49.596-41.251-5.901 75.376-5.901-75.376-19.346 11 11-19.345L70.65 92.22l12.269-5.901Zm22.329 5.901-8.082-8.082-8.082 8.082 8.082 8.083 8.082-8.083Z"/>
    </svg>
    <div class="flex flex-col">
        <p class="text-xl text-cyan-100">hi, I'm <span class="bold text-orange-400">Script Chief</span></p>
        <p>Fullstack Developer</p>
    </div>
</div>